{% macro has_rain(forecast) -%}
    {%- set has_rain = forecast
        |selectattr('precipitation', '>', 0)
        |list
        |length > 0 -%}
    {{- "true" if has_rain else "false" -}}
{% endmacro -%}
